
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}
.modal .modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999;
}
.modal .modal_content .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}



.table {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}
.gratitude{
    display: none;
}

input, textarea {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

p input, button  {
    width:60%;
    padding: 6px 7.5px;    
    background-color: rgb(33, 83, 177);  
    color: aliceblue;
}

p {
    display: flex;
}

.text, .text_button {
    margin-left: 30px; 
    font: 30px 'Comic Sans MS', sans-serif;
}

.text_button {
    font: 20px 'Comic Sans MS', sans-serif;
    margin-left: 25px;
    margin-top: 25px;
}

.message {  
    margin-left: 30px; 
    height: 195px;
    width: 292.5px;
}

textarea {
    resize: none;   
}

@media (max-width: 1160px) {
    .text {
        font: 20px 'Comic Sans MS', sans-serif;
    }   

    .text_button {
        font: 15px 'Comic Sans MS', sans-serif;
        margin-left: 15px;
        margin-top: 15px;
    }
    
    .message {  
        height: 165px;
        width: 247.5px;
    }
    .table {
        display: flex;
    }
}


@media (max-width: 680px) {
    .text {
        font: 15px 'Comic Sans MS', sans-serif;
    }
    
    .text_button {
        font: 10px 'Comic Sans MS', sans-serif;
    }
    
    .text {
        margin-left: 0px; 
    }

    .table {
        display: block;
    }

    .message {   
        margin-left: 0px;
        height: 150px;
        width: 215px;
    }
}
